:root {
  --black: #0a111f;
  --white: #ffffff;
  --dark: #16181b;
  --purple: #b670f4;
  --yellow: #E6C54F;
  --verified:#658EB4;
  --email-background: #8c9dc8;
  --toggle-color: #f8f8f8;
  --toggle-switch-check: #81ab96;
  --toggle-switch-label: #aeb0b5;
  --toggle-switch-active: #cecfd2;
  --delete-background: #fcf1f1;
  --delete-color: #dd7878;
  --dark-blue: #144b8d;
  --border: #e6e7e9;
  --custom-light-color: #6c7078;
  --border-color: #f3f6f9;
  --error-color: #e79d73;
  --file-background: #F8F8F8;
  --image-upload:#fefaf8;
  --box-shadow: #00000066;
  --calendar-day-color: #b2b2b2;
  --calendar-day-label-color: #545454;
  --calendar-day-active-color: #b670f40d;
  --modalbase-background: rgb(57, 58, 74, 0.8);
  --table-loading: #666666;
  --row-shadow: #e6e6e6;
  --clayui: #80acff;
  --clayui-color: #a7a9bc;
  --clayui-hover: #6b6c7e;
  --clayui-treeview-light-hover: #272833;
  --clayui-treeview-light-background: #f7f8f9;
  --clayui-treeview-link-active: #f1f2f5;
  --clayui-treeview-link-disable: #b6b3be;
  --clayui-treeview-link-dark-disable: #a7a9bd80;
  --clayui-treeview-dropping: #f0f5ff;
  --clayui-component-expander-hover: #0b5fff;
}
